/* styles for main app container */

div#app {
    display: flex;
    height: 100vh;
  }

  /* styles for LeftView */

div#left {
  background-color: white;
  width: 66.6%;
  display: flex;
  position: relative;
  flex-direction: column;
}
