/* styles for main app container */

div#app {
    display: flex;
    height: 100vh;
  }
  /* div#left {
    width: 66.6%;
    display: flex;
    flex-direction: column;
  }
  div#right {
    width: 33.3%;
    display: flex;
    flex-direction: column;
  } */

  /* styles for LeftView */

div#left {
  width: 66.6%;
  display: flex;
  position: relative;
  flex-direction: column;
}

  /* styles for RightView */

div#right {
  position: relative;
  background-color: whitesmoke;
  width: 33.3%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
div#right::before {
  position: absolute;
  border: 1px solid grey;
  left: 10px;
  right: 10px;
  top: 10px;
  bottom: 10px;
  content: "";
}