div#statusbar {
    position: absolute;
    bottom: 0;
    height: 50px;
    background-color: lightgrey;
    display: flex;
    align-items: center;
}

.count {
    margin-left: 10px;
    position: absolute;
    left: 0px;
}
.key {
    margin: auto;
    width: 50%;
}
.selectednum {
    margin-right: 10px;
    position: absolute;
    right: 0px;
}