div#toolbar {
    background-color: gray;
    padding: 10px;
    display: flex;
    height: 50px;
    gap: 10px;
  }
  
  div#toolbar > input[type="text"] {
    flex: 1;
  }
  
  div#toolbar > button {
    width: 80px;
  }
  